.banner {
  // grid-column: col-start 3/col-end 4;
   grid-column: full-start / full-end;
   background-image: url("../../images/bg-curvy-desktop.svg");
   background-repeat: no-repeat;
   background-position:center 100%;
   background-size:100% 40%;
   background-color: $primary;
   padding-bottom:12rem;

   
   &__img {
       display: grid;
       justify-items: center;
       align-items: center;
       height:40vh;
       width:50vw;
       padding:0 25vw;


      img {
         width:100%;
         height:100%;
      }
   }

   &__box {      
       display: grid;
       justify-items: center;
       align-items: center;
       text-align: center;
       height:40vh;
       width:40vw;
       padding:0 30vw;

       h2 {
         line-height:3rem;
       }

       p {
         line-height:2rem;
       }

      button {
         outline:none;
         border:none;
         border-radius:15px;
         background-color:$blue;
         color:$white;
         padding:1rem 3rem;
         cursor: pointer;

         &:hover {
            color:$blue;
            background-color:$white;
            font-weight:700;
         }
      }
   }
}