.banner {
   grid-column: full-start / full-end;
   background-color: $primary;
   background-image: url("../../images/bg-curvy-desktop.svg");
   background-repeat: no-repeat;
   background-position:center 100%;
   background-size:100% 40%;
   padding-bottom:12rem;

   display:grid;
   justify-items: center;
   align-items: center;

   
   &__img {
       display: grid;
       justify-items: center;
       align-items: center;
       width:40%;

       img {
         width: 100%;
       }
        
   }

   &__box {      
       display: grid;
       justify-items: center;
       align-items: center;
       text-align: center;
       width:40%;

       
       h2 {
         line-height:3rem;
       }

       p {
         line-height:2rem;
       }

      button {
         outline:none;
         border:none;
         border-radius:15px;
         background-color:$blue;
         color:$white;
         padding:1rem 3rem;
         cursor: pointer;

         &:hover {
            color:$blue;
            background-color:$white;
            font-weight:700;
         }
      }
    }
}