.features {
    grid-column: col-start 2/col-end 5;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(26rem,1fr));
    grid-gap:2rem;   
    padding-bottom:3rem;

    @media (max-width:98.6rem) { 
        // grid-template-columns:repeat(auto-fit,minmax(10rem,1fr));
    }

    &__box {
        display:grid;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
 }