.footer {
    background-color:$footer-bg;
    grid-column: full-start / full-end;
    padding-top:20rem;
    padding-bottom:10rem;
    padding-left:7rem;
    padding-right:7rem;


    display: grid;
    grid-template-rows: repeat(2,min-content);
    grid-gap: 1.5rem;

    &__logo {
        grid-row: 1/2;
    }

    &__box {
        grid-row: 2/3;
        display:grid;
        grid-gap:2rem;
        grid-template-columns:minmax(min-content,22rem) repeat(auto-fit,minmax(10rem,1fr));
    
        @media (max-width:33.2rem) { 
           // grid-template-columns:minmax(min-content,33.2rem) ;
            //repeat(auto-fit,minmax(10rem,1fr));
            background-color:green;
        }
       
    
    }

    &__box-1 {
        display:flex;

        &-icon {
            margin-right: 1rem;
        }
    }

    &__box-2 {
        &-item {
            margin-bottom:1rem;
            display:flex;
            align-items:center;

            &-icon {
                padding-right:1.2rem;
                width:2rem;

                img {
                    width:100%;
                }
            }
        }
    }

    &__box-3 {
        ul {
            list-style: none;
            font-size: 1.2rem;
            font-weight:600;

            li {
                a {
                    text-decoration: none;   
                    color:$white;
                }
            }

            li:not(:last-child) {
                padding-bottom:1rem;
            }
        }
     }

    &__box-4 {

        ul {
            list-style: none;
            font-size: 1.2rem;
            font-weight:600;

            li {
                a {
                    text-decoration: none;   
                    color:$white;
                }
            }

            li:not(:last-child) {
                padding-bottom:1rem;
            }
        }
    }

    &__box-5 {
        align-self:start;
        display:flex;
        justify-content: center;

        &-icon {
            width:2.5rem;
            height:2.5rem;
            margin-left: 1rem;
            border:1px solid $white;
            padding:1.3rem;
            border-radius:50%;
            display:flex;
            justify-content: center;
            align-items:center;
        }
    }
 }