.tip {
     grid-column: col-start 1/ col-end 6;
     display:grid;
     grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
     padding-bottom:7rem;
     

    &__img {
       display: grid;
       justify-items: center;
       align-items: center;
       width:80%;
       justify-self:center;

        img {
            width: 100%;
        }
    }

    &__box {
        align-self:center;

        h2 {
            width: 60%;
        }

        p {
            width:80%;
        }

        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            color:$blue;
            font-size:1.5rem;
            border:none;
            padding-bottom: .7rem;
            border-bottom:1px solid $blue;
            cursor:pointer;

            img {
                padding-left:2rem;
            }
        }
    }
 }


@media (max-width:$mobile) { 
    .tip { 
        
        &__box {

            h2 {
               width:100%;
               padding-top:2rem;
            }

            p {
                width:100%; 
            }
        }
    }

}