@keyframes moveIn {
    0% {
        transform:translateY(-150px);
    }
    100% {
        transform:translateY(0);
    }
}

@keyframes anim {
    0% {
        height:0;
    }
    100% {
        height:8rem;
    }
}