$primary :hsl(217, 28%, 15%);
$primary-2:hsl(218, 28%, 13%);
$footer-bg:hsl(216, 53%, 9%);
$testimonial-bg: hsl(219, 30%, 18%);
$cyan:hsl(176, 68%, 64%);
$blue:hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);

$font-heading:"Raleway";
$font-body:"Open Sans";


* {
    margin:0;
    padding:0;
}
html {
    font-size:62.5%;
    background-color: aqua;
}

.body {
    position: relative;
}


.header__nav__list.show {
    transform:scale(1);
}

