body {
    font-family: "Barlow Condensed", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}

p {
    color:#fff;
    font-weight: 300;
    font-size: 1.3rem;
}

.heading-1 {

}

.heading-2 {
    color:#fff;
    font-weight: 800;
    font-size:3rem;
}

.heading-3 {
    color:#fff;
    font-weight: 800;
    font-size: 2rem;
}

.heading-6 {
    color:#fff;
    font-weight:700;
    font-size: 1.7rem;
}

